# Documentation builds
docs/_site
docs/api

# Secrets and environment variables
*.env
!exemple.env
db_password.conf
grafana_password.conf

# Development
database-volume
ssl_certs

# IDE files
.vscode
settings.json

# Temporary files
*.log
*.tmp
*.tmp.*
