name: Deployment Tests

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  actions: write

jobs:
  changes-check:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.filter.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            any_changed:
              - 'junqo_back/**'
              - 'junqo_front/**'
              - '.github/workflows/deployment-tests.yml'
              - docker-compose.dev.yaml
              - docker-compose.yaml
              - .dockerignore

  deployment-dev-tests:
    needs: changes-check
    if:
      (github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.event.action == 'opened' ||
      github.event.action == 'synchronize') && needs.changes-check.outputs.any_changed == 'true'
    uses: ./.github/workflows/deployment-test-template.yml
    with:
      compose_file: docker-compose.dev.yaml

  deployment-prod-tests:
    needs: changes-check
    if:
      (github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.event.action == 'opened' ||
      github.event.action == 'synchronize') && needs.changes-check.outputs.any_changed == 'true'
    uses: ./.github/workflows/deployment-test-template.yml
    with:
      compose_file: docker-compose.yaml

  deployment-tests-ok:
    needs: [changes-check, deployment-dev-tests, deployment-prod-tests]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Set deployment tests status
        run: |
          if [[ "${{ needs.changes-check.outputs.any_changed }}" == "false" ]] ||
            [[ "${{ needs.changes-check.outputs.any_changed }}" == "true" && "${{ needs.deployment-dev-tests.result }}" == "success" && "${{ needs.deployment-prod-tests.result }}" == "success" ]]; then
            echo "✅ Deployment tests condition met."
            exit 0
          else
            echo "❌ Deployment tests failed or were required but skipped."
            exit 1
          fi

